/*=============================================*
 *	ALIGN
 *=============================================*/
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
/*=============================================*
 *	ALIGN
 *=============================================*/



/*=============================================*
 *	COLOR
 *=============================================*/
.gray {
	color: #999;
}


	.red {
		color: #f00;
	}
	.yellow {
		color: #ff0;
	}


		.lime {
			color: #0f0;
		}
		.aqua {
			color: #0ff;
		}


			.blue {
				color: #00f;
			}
			.pink {
				color: #f0f;
			}
/*=============================================*
 *	COLOR
 *=============================================*/



/*=============================================*
 *	SIZE
 *=============================================*/
.smaller {
	font-size: smaller;
}
.larger {
	font-size: larger;
}
/*=============================================*
 *	SIZE
 *=============================================*/



 /*=============================================*
 *	装飾
 *=============================================*/
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.sline {
	text-decoration: line-through;
}
/*=============================================*
 *	装飾
 *=============================================*/
